$c-active: #BE353C;

* {
    box-sizing: border-box;

}

body {
    background: #1C1C1C;
    overflow: hidden;
}

.bg {
    position: absolute;
    left: 50%;
    width: 100%;
    max-width: 1360px;
    height: 100%;
    z-index: -1;
    transform: translateX(-50%);

    &__blur {
        width: 100%;
        height: 100%;
        z-index: -1;
        background: rgba(28, 28, 28, 0.6);
        position: absolute;
    }

    &-left,
    &-right {
        position: absolute;
        z-index: -2;
        filter: blur(2px);
    }

    &-left {
        position: absolute;
        left: 0;
        height: 100%;
        width: 50%;

        img:hover {
            transform: scale(1.5);
        }

        img {
            position: absolute;
            width: 11vh;
        }

        img:nth-child(1) {
            left: 26%;
            bottom: 70%;
            width: 9vh;
        }

        img:nth-child(2) {
            left: 48%;
            bottom: 61%;
        }

        img:nth-child(3) {
            bottom: 48%;
            left: 31%;
        }

        img:nth-child(4) {
            bottom: 34%;
            left: 56%;
            width: 7vh;
        }

        img:nth-child(5) {
            bottom: 28%;
            left: 36%;
        }

        img:nth-child(6) {
            bottom: 15%;
            left: 28%;
            width: 8vh;
        }
    }

    &-right {
        position: absolute;
        right: 0;
        height: 100%;
        width: 50%;

        img {
            position: absolute;
            width: 11vh;
        }

        img:nth-child(1) {
            // top: 27vh;
            right: 20%;
            bottom: 67%;
            width: 9vh;
        }

        img:nth-child(2) {
            // top: 37vh;
            right: 45%;
            bottom: 55%;
            width: 9vh;
        }

        img:nth-child(3) {
            // top: 48vh;
            right: 28%;
            bottom: 41%;
        }

        img:nth-child(4) {
            right: 53%;
            bottom: 38%;
            width: 7vh;
        }

        img:nth-child(5) {
            right: 45%;
            bottom: 19%;
        }

        img:nth-child(6) {
            right: 23%;
            bottom: 14%;
        }
    }
}

.container {
    width: 1600px;
    padding: 0px 20px;
    margin: 0 auto;
}

#header {
    padding: 32px 0;

    .header {
        &__wrapper {
            display: flex;
            justify-content: center;

            img {
                margin-left: 43%;
            }
        }

        &__lang {
            margin-left: auto;
            cursor: default;
            position: relative;
            z-index: 2;

            &_active {
                color: $c-active !important;
            }

            a {
                text-decoration: none;
                font-family: "HelveticaNeueBoldCondensed";
                font-size: 21px;
                line-height: 25px;
                color: #FFF;
                margin-left: 5px;
            }

            a:hover {
                color: $c-active !important;
            }
        }
    }
}

#title {
    h1, h2 {
        font-family: "HelveticaNeueBoldCondensed";
        color: #FFFFFF;
        text-transform: uppercase;
        margin: 0;
        text-align: center;
    }

    .title__h1 {
        font-size: 12vh;

        &_size {
          font-size: 11vh;
        }
    }

    .title__h2 {
        font-size: 7vh;

        &_size {
          font-size: 6vh;
        }
    }
}

#social-mobile {
    display: none;
}

#mobile {
    position: absolute;
    bottom: 0;
    width: 100%;


    .container {
        position: relative;
    }

    .mobile {
        &__wrapper {
            display: flex;
            justify-content: center;

        }

        &__phone {
            height: 64vh;
            padding-top: 20px;
            bottom: 0px;
        }

        &-sticker {
            position: absolute;
            width: 64vh;
            z-index: 2;

            .s-1 {
                animation-name: animate-stic-up;
                animation-direction: alternate;
                animation-iteration-count: infinite;
                animation-timing-function: linear;
                animation-duration: 1.5s;
                animation-delay: 100ms;
            }

            .s-2 {
                animation-name: animate-stic-down;
                animation-direction: alternate;
                animation-iteration-count: infinite;
                animation-timing-function: linear;
                animation-duration: 1.5s;
                animation-delay: 500ms;
            }

            .s-3 {
                animation-name: animate-stic-up;
                animation-direction: alternate;
                animation-iteration-count: infinite;
                animation-timing-function: linear;
                animation-duration: 1.5s;
                animation-delay: 1200ms;
            }

            .s-4 {
                animation-name: animate-stic-down;
                animation-direction: alternate;
                animation-iteration-count: infinite;
                animation-timing-function: linear;
                animation-duration: 1.5s;
                animation-delay: 1200ms;
            }

            .s-5 {
                animation-name: animate-stic-down;
                animation-direction: alternate;
                animation-iteration-count: infinite;
                animation-timing-function: linear;
                animation-duration: 1.5s;
                animation-delay: 1200ms;
            }

            .s-6 {
                animation-name: animate-stic-up;
                animation-direction: alternate;
                animation-iteration-count: infinite;
                animation-timing-function: linear;
                animation-duration: 1.5s;
                animation-delay: 500ms;
            }

            &__migel {
                position: absolute;
                height: 20vh;
                animation-duration: 1s;
                animation-delay: 1200ms;
                transition: 1s;
                top: 12px;
                transform: translate3d(0,0,0);
            }

            &__migel:hover {
                transform: translate3d(-20px,0,0);
                transition: 1s;
            }

            &__mta {
                position: absolute;
                right: 0px;
                animation-duration: 2s;
                animation-delay: 1500ms;
                transition: 1s;
                height: 20vh;
                top: 2px;
                transform: translate3d(0,0,0);
            }

            &__mta:hover {
                transform: translate3d(20px,0,0);
                transition: 1s;
            }

            &__quppy {
                position: absolute;
                animation-duration: 1s;
                animation-delay: 1800ms;
                transition: 1s;
                height: 22vh;
                left: 46px;
                top: 18vh;
                transform: translate3d(0,0,0);
            }

            &__quppy:hover {
                transform: translate3d(-20px,0,0);
                transition: 1s;
            }

            &__dance {
                position: absolute;
                animation-duration: 1s;
                animation-delay: 2100ms;
                transition: 1s;
                height: 26vh;
                right: 38px;
                top: 15vh;
                transform: translate3d(0,0,0);
            }

            &__dance:hover {
                transform: translate3d(20px,0,0);
                transition: 1s;
            }

            &__dab {
                position: absolute;
                animation-duration: 1s;
                animation-delay: 2400ms;
                transition: 1s;
                left: -10px;
                top: 39vh;
                height: 20vh;
                transform: translate3d(0,0,0);
            }

            &__dab:hover {
                transform: translate3d(-20px,0,0);
                transition: 1s;
            }

            &__pizza {
                position: absolute;
                animation-duration: 1s;
                animation-delay: 2700ms;
                transition: 1s;
                right: -22px;
                top: 38vh;
                height: 20vh;
                transform: translate3d(0,0,0);
            }

            &__pizza:hover {
                transform: translate3d(20px,0,0);
                transition: 1s;
            }
        }

        &-download {
            display: flex;
            flex-direction: column;
            position: absolute;
            bottom: 54px;
            z-index: 2;

            a:first-child {
                margin-bottom: 37px;
            }

            &__appstore,
            &__google {
                transition: 1s;
            }

            &__appstore:hover {
                transform: scale(0.9);
                transition-duration: .2s;
                transition: 1s;
            }

            &__google:hover {
                transform: scale(0.9);
                transition-duration: .2s;
                transition: 1s;
            }
        }


        &-qr {
            position: absolute;
            bottom: 90px;
            z-index: 2;
            right: 20px;
            background: #000;
            padding: 14px;
            border-radius: 15px;
            border: 2px solid #A7A7A7;
        }


    }
}

#footer {
    z-index: 3;
    position: absolute;
    bottom: 5px;
    width: 100%;

    .footer {
        &__wrapper {
            display: flex;
            justify-content: flex-end;
            align-items: center;
        }

        &__copyright {
            font-family: "Gilroy-Extrabold";
            font-style: normal;
            // font-weight: 800;
            font-size: 1.5vh;
            line-height: 17px;
            letter-spacing: 1.16667px;
            color: #FFFFFF;
            width: 68%;
            text-align: center;
        }

        &__link {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            width: 16%;

            a {
                margin-left: 20px;
                text-decoration: none;
                transition: .6s;
            }

            a:hover {
                transform: translateY(-8px);
                transition: .6s;
            }
        }
    }
}

.half {
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: calc(100% + 38%);

    z-index: 1;

    div {
        width: 100%;
        opacity: 0;
    }
}

@keyframes animate-stic-up {
    from {
        transform: translateY(-2px);
    }

    to {
        transform: translateY(6px);
    }
}

@keyframes animate-stic-down {
    from {
        transform: translateY(6px);
    }

    to {

        transform: translateY(-2px);
    }
}