@media (max-width: 1600px) {
  .container {
    width: 1360px;
    padding: 0px 15px;
    margin: 0 auto;
  }

  #main .main-info__description {
    font-size: 20px;
  }
}
@media (max-height: 880px) {
  .qr .container img {
    width: 18vh;
  }

  #main .main-info {
    height: 205px;
  }
  #main .main-link-block__symbol {
    width: 15vh;
  }
  #main .main-link__button a img {
    width: 25vh;
  }
}
@media (max-width: 1360px) {
  .container {
    width: 1180px;
    padding: 0px 15px;
    margin: 0 auto;
  }

  #main .main__wrapper {
    width: 80%;
  }
  #main .main-info {
    font-size: 20px;
  }
  #main .main-link {
    padding-top: 10px;
  }
  #main .main-link__button a img {
    width: 40%;
  }
}
@media (max-width: 1180px) {
  .container {
    width: 992px;
    padding: 0px 15px;
    margin: 0 auto;
  }

  #main .main-info {
    font-size: 17px;
  }
  #main .main-link-block__download p {
    font-size: 20px;
  }
  #main .main-link-block__symbol {
    width: 12vh;
  }
  #main .main-link__button a img {
    width: 36%;
  }

  #footer .footer__link a {
    margin-left: 7px;
  }
}
@media (max-width: 820px) {
  html {
    overflow-x: hidden;
  }

  body {
    height: auto;
    min-height: 100vh;
  }

  .body-wrapper {
    padding-top: 200px;
  }

  .container {
    width: 100%;
    max-width: 768px;
    padding: 0px 15px;
    margin: 0 auto;
  }

  #main {
    margin-bottom: 210px;
  }
  #main .main__wrapper {
    width: 110%;
    padding-bottom: 50px;
    border-radius: 50px 0px 0px 50px;
    margin-right: -10%;
    margin-left: 0;
  }
  #main .main__wrapper::after {
    content: "";
    position: relative;
    width: 100%;
    height: 100%;
    background: #FFF;
    position: absolute;
    right: -400px;
    top: 0;
    z-index: -1;
  }
  #main .main-info {
    width: 100vw;
    left: 40px;
    top: -35px;
    font-size: 19px;
  }
  #main .main-info__title {
    left: 20px;
    transform: translateY(-140%);
  }
  #main .main-info__description {
    display: none;
  }
  #main .main-link {
    flex-direction: column-reverse;
    padding-top: 0;
    margin-top: -10px;
  }
  #main .main-link-block {
    flex-direction: column-reverse;
  }
  #main .main-link-block__symbol {
    position: absolute;
    left: 45%;
    bottom: -50px;
    width: 100px;
    transform: translateX(-50%);
  }
  #main .main-link-block__download {
    padding-left: 25px;
    margin-bottom: 20px;
    margin-left: 0;
  }
  #main .main-link__button {
    bottom: -160px;
    position: absolute;
    right: 10%;
    left: 0;
    display: flex;
    justify-content: space-around;
  }
  #main .main-link__button a {
    display: flex;
    justify-content: center;
    margin: 0 10px;
  }
  #main .main-link__button a img {
    transition: none;
  }
  #main .main-link__button a img:hover {
    transform: none;
  }
  #main .main-link__button a img {
    width: 100%;
  }
  #main .main-link__social a {
    margin: 25px 25px 20px 0;
  }
  #main .main-link__social a img {
    width: 30px;
  }
  #main .main-link__social a:nth-child(3) {
    display: block;
  }
  #main .main-link__description {
    display: inline-block;
  }

  .qr {
    display: none;
  }

  #footer .footer__wrapper {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  #footer .footer__wrapper p {
    position: static;
    margin: 0;
    order: 1;
    transform: none;
  }
  #footer .footer__link {
    margin: 25px 0;
  }
  #footer .footer__link a {
    transition: none;
    margin-left: 20px;
  }
  #footer .footer__link a:hover {
    position: static;
  }
}
@media (max-width: 450px) {
  #main {
    margin-bottom: 180px;
  }
  #main .main-info {
    font-size: 18px;
    left: 25px;
  }
  #main .main-link {
    padding: 0 25px;
  }
  #main .main-link__description {
    line-height: 1.2;
  }
  #main .main-link__button {
    bottom: -140px;
  }
  #main .main-link-block__download {
    padding-left: 15px;
  }
  #main .main-link-block__download p {
    font-size: 18px;
  }

  #footer .footer__wrapper p {
    font-size: 10px;
  }
  #footer .footer__logo {
    width: 200px;
  }
  #footer .footer__link {
    margin: 20px 0;
  }
  #footer .footer__link a {
    margin-left: 15px;
  }
}
@media (max-width: 350px) {
  #main .main-info {
    font-size: 16px;
  }
}/*# sourceMappingURL=media-for-migel.css.map */