@media(max-width: 1600px) {
    .container {
        width: 1360px;
        padding: 0px 15px;
        margin: 0 auto;
    }

    #main {
        .main {
            &-info {
                &__description {
                    font-size: 20px;
                }
            }
        }
    }
}


@media(max-height: 880px) {
    .qr {
        .container {
            img {
                width: 18vh;
            }
        }
    }

    #main {
        .main {
            &-info {
                height: 205px;

                &__stic {
                    width: 33%;
                    left: 14px;
                }
            }

            &-link {
                &-block {
                    &__symbol {
                        width: 15vh;
                    }
                }

                &__button {
                    a {
                        img {
                            width: 25vh;
                        }
                    }
                }
            }
        }
    }
}

@media(max-width: 1600px) and (max-height: 880px) {
    #main {
        .main {
            &-info {

                &__stic {
                    width: 39%;
                }
            }
        }
    }
}


@media(max-width: 1360px) {
    .container {
        width: 1180px;
        padding: 0px 15px;
        margin: 0 auto;
    }

    #main {
        .main {
            &-info {
                height: 240px;

                &__static {
                    width: 404px;
                }

                &__title {
                    p {
                        font-size: 100px;
                    }

                    img {
                        width: 5vh;
                    }
                }

                &__description {
                    margin: 0;
                    font-size: 18px;
                    letter-spacing: 1px;
                }

                &__stic {
                    width: 402px;
                }
            }

            &-link {
                &__button {
                    a {
                        img {
                            width: 40%;
                        }
                    }
                }
            }
        }
    }
}

@media(max-width: 1360px) and (max-height: 880px) {
    #main {
        .main {
            &-info {

                &__stic {
                    width: 50%;
                }
            }
        }
    }
}

@media(max-width: 1180px) {
    .container {
        width: 992px;
        padding: 0px 15px;
        margin: 0 auto;
    }

    #main {
        .main {
            &-info {
                height: 174px;

                &__title {
                    p {
                        font-size: 80px;
                        line-height: 125px;
                    }
                }

                &__text {
                    bottom: 64px;
                    margin-left: 20px;
                }

                &__stic {
                    width: 320px;
                }
            }

            &-link {
                &-block {
                    &__download {
                        p {
                            font-size: 20px;
                        }
                    }

                    &__symbol {
                        width: 12vh;
                    }
                }

                &__button {
                    a {
                        img {
                            width: 36%;
                        }
                    }
                }

                &__social {
                    a {
                        img {
                            width: 5vh;
                        }
                    }
                }
            }
        }
    }
}

@media(max-width: 992px) {
    html {
        overflow-x: hidden;
    }

    .container {
        width: 768px;
        padding: 0px 15px;
        margin: 0 auto;
    }

    #main {
        .main {
            &__wrapper {
                width: 100%;
                position: relative;
            }

            &__wrapper::after {
                content: "";
                position: relative;
                width: 100%;
                height: 100%;
                background: #FFF;
                position: absolute;
                right: -400px;
                top: 0;
                z-index: -1;
            }

            &-info {
                width: 100vw;
                left: 24px;
                top: -35px;
                right: unset;

                &__text {
                    position: absolute;
                }

                &__title {
                    position: relative;
                    bottom: 125px;
                    z-index: -1;
                    left: -13px;
                }

                &__share {
                    display: none;
                }

                &__description {
                    position: relative;
                    top: 105px;
                    right: 20px;
                    color: #000;
                }
            }

            &-link {
                flex-direction: column-reverse;

                &-block {
                    flex-direction: column-reverse;

                    &__symbol {
                        position: absolute;
                        left: calc(50% - 65px);
                        bottom: -50px;
                        width: 13%;
                    }

                    &__download {
                        margin-bottom: 20px;
                        margin-left: 0;
                    }
                }

                &__button {
                    bottom: -125px;
                    position: absolute;
                    width: 80vw;
                    display: flex;
                    justify-content: space-around;


                    a {
                        margin: 0;

                        img {
                            width: 80%;
                        }
                    }

                    a:first-child {
                        margin-right: 40px;
                    }
                }

                &__social {
                    a {
                        margin-left: 0;
                        margin-right: 25px;
                        margin-top: 20px;
                    }

                    a:nth-child(3) {
                        display: block;
                    }

                }
            }
        }
    }

    .qr {
        display: none;
    }

    #footer {
        .footer {
            &__wrapper {
                flex-direction: column;
                justify-content: center;
                align-items: center;

                p {
                    order: 1;
                    margin: 0;
                }
            }

            &__link {
                margin: 20px 0;
            }
        }
    }
}

@media(max-width: 660px) {
    .container {
        width: 90%;
        padding: 0px 15px;
        margin: 0 auto;
    }

    #main {
        .main {
            &__wrapper::after {
                right: -100px;
            }

            &-info {
                &__description {
                    top: 130px;
                    overflow-wrap: break-word;
                    width: 95%;
                }

                &__stic {
                    bottom: 83px;
                }
            }

            &-link {
                a {
                    margin-top: 40px;
                }

                &-block {
                    &__symbol {
                        bottom: -35px;
                        left: 45%;
                        width: 60px;
                    }

                    &__download {
                        width: calc(100% + 70px);

                        p {
                            font-size: 16px;
                        }

                    }
                }
            }
        }
    }

    #footer {
        .footer {
            &__link {
                justify-content: space-evenly;
                width: 100%;

                a {
                    margin-left: 0;
                }
            }
        }
    }
}

@media(max-width: 660px) and (max-height: 880px) {
    #main {
        .main {
            &__wrapper {
                padding-bottom: 10px;
            }

            &-info {
                height: 118px;

                &__title {
                    bottom: 42px;
                    left: 10px;

                    p {
                        font-size: 60px;

                    }

                    img {
                        padding-top: 30px;
                    }
                }

                &__stic {
                    width: 250px;
                }

                &__description {
                    line-height: 24px;
                    top: 122px;
                }
            }

            &-link {
                &-block {
                    &__symbol {
                        bottom: -30px;
                        width: 50px;
                    }
                }

                &__button {
                    bottom: -85px;
                    left: 14px;

                    a {
                        margin-top: 0;
                    }
                }
            }
        }
    }

    #footer {
        .footer {
            &__link {
                margin: 10px 0;

                a {
                    img {
                        width: 80%;
                    }
                }
            }

            &__logo {
                width: 50%;
            }
        }
    }
}

@media(max-width: 660px) and (max-height: 620px) {
    #main {
        .main {
            &-info {
                &__description {
                    font-size: 16px;
                    line-height: 20px;
                    top: 116px;
                }

                &__stic {
                    left: 19px;
                }

                &__title {
                    img {
                        padding-top: 40px;
                    }
                }
            }

            &-link {
                a {
                    margin-top: 28px;
                }

                &__button {
                    bottom: -60px;
                }

                &-block {
                    &__download {
                        margin-bottom: 15px;
                    }
                }
            }
        }
    }

    #footer {
        .footer {
            &__wrapper {
                p {
                    font-size: 12px;
                }
            }

            &__logo {
                width: 40%;
            }
        }
    }
}