@media (max-width: 1600px) {
  .container {
    width: 1360px;
  }

  #header .header__wrapper img {
    margin-left: 42%;
  }
}
@media (max-width: 1360px) {
  .container {
    width: 1180px;
  }

  #header .header__wrapper img {
    margin-left: 40%;
  }

  .bg {
    width: 120%;
  }
}
@media (max-width: 1180px) {
  .container {
    width: 992px;
  }

  #header .header__wrapper img {
    margin-left: 38%;
  }
}
@media (max-width: 992px) {
  body {
    background-size: 130%;
  }

  .container {
    width: 768px;
    padding: 0px 10px;
  }

  #header .header__wrapper img {
    margin-left: 34%;
  }

  #title h1 {
    font-size: 62px;
  }
  #title h2 {
    font-size: 36px;
  }

  #mobile .mobile-download__appstore, #mobile .mobile-download__google {
    width: 60%;
  }
  #mobile .mobile-qr {
    bottom: 65px;
    padding: 10px;
    width: 14%;
  }
  #mobile .mobile-qr img {
    width: 100%;
  }

  #footer .footer__link img {
    width: 26px;
  }
}
@media (max-width: 820px) {
  body {
    position: relative;
    overflow: auto;
  }

  .bg {
    width: 100%;
    height: 70%;
  }
  .bg-left img:nth-child(1) {
    width: 7vh;
  }
  .bg-left img:nth-child(2) {
    width: 9vh;
  }
  .bg-left img:nth-child(3) {
    width: 9vh;
  }
  .bg-left img:nth-child(4) {
    width: 7vh;
  }
  .bg-left img:nth-child(5) {
    width: 9vh;
  }
  .bg-left img:nth-child(6) {
    width: 8vh;
  }
  .bg-right img:nth-child(1) {
    width: 7vh;
  }
  .bg-right img:nth-child(2) {
    width: 7vh;
  }
  .bg-right img:nth-child(3) {
    width: 9vh;
  }
  .bg-right img:nth-child(4) {
    width: 7vh;
  }
  .bg-right img:nth-child(5) {
    width: 9vh;
  }
  .bg-right img:nth-child(6) {
    width: 9vh;
  }

  .container {
    width: 90%;
    padding: 0;
  }

  #header .header__wrapper img {
    margin: 0;
  }
  #header .header__lang {
    display: none;
  }

  #title h1 {
    text-align: left;
    line-height: 1.2;
  }
  #title h2 {
    text-align: left;
  }

  #mobile {
    position: static;
  }
  #mobile .mobile__content {
    padding-top: 100px;
  }
  #mobile .mobile__wrapper {
    position: relative;
  }
  #mobile .mobile-qr {
    display: none;
  }
  #mobile .mobile__phone {
    position: relative;
    max-width: 60%;
    height: auto;
  }
  #mobile .mobile-sticker {
    width: 85%;
  }
  #mobile .mobile-sticker__migel {
    height: 18vh;
    top: 32px;
  }
  #mobile .mobile-sticker__mta {
    height: 18vh;
    top: 26px;
  }
  #mobile .mobile-sticker__quppy {
    height: 20vh;
    top: 180px;
  }
  #mobile .mobile-sticker__dance {
    height: 24vh;
    top: 180px;
  }
  #mobile .mobile-sticker__dab {
    display: none;
  }
  #mobile .mobile-sticker__pizza {
    display: none;
  }
  #mobile .mobile-download {
    position: absolute;
    top: 0;
    bottom: auto;
    flex-direction: row;
    width: 100%;
  }
  #mobile .mobile-download a {
    flex-basis: 50%;
    display: flex;
    justify-content: center;
    margin: 0 10px;
  }
  #mobile .mobile-download a img {
    width: 100%;
    max-width: 200px;
  }
  #mobile .mobile-download a:first-child {
    margin-bottom: 0;
  }

  #social-mobile {
    display: block;
    margin: 30px 0;
  }
  #social-mobile .container {
    display: flex;
    justify-content: center;
  }
  #social-mobile a {
    margin: 0 13px;
  }

  #footer {
    bottom: 20px;
  }
  #footer .footer__link {
    display: none;
  }
  #footer .footer__copyright {
    width: 100%;
    font-size: 14px;
  }
}
@media (max-width: 820px) and (orientation: landscape) {
  #mobile .mobile-sticker__migel {
    height: 20vw;
  }
  #mobile .mobile-sticker__mta {
    height: 20vw;
  }
  #mobile .mobile-sticker__quppy {
    height: 22vw;
  }
  #mobile .mobile-sticker__dance {
    height: 26vw;
  }
}
@media (max-width: 600px) {
  #mobile .mobile-sticker__migel {
    height: 100px;
    top: 20px;
  }
  #mobile .mobile-sticker__mta {
    height: 100px;
    top: 20px;
  }
  #mobile .mobile-sticker__quppy {
    height: 120px;
    top: 120px;
    left: 20px;
  }
  #mobile .mobile-sticker__dance {
    height: 140px;
    top: 120px;
    right: 20px;
  }
}
@media (max-width: 440px) {
  .bg-left, .bg-right {
    height: 70%;
  }

  #header {
    padding-top: 40px;
  }

  #title h1 {
    font-size: 50px;
  }
  #title h2 {
    font-size: 38px;
  }

  #social-mobile {
    margin-top: 20px;
  }

  #mobile .mobile__phone {
    max-width: 80%;
  }
  #mobile .mobile-sticker {
    width: 100%;
  }

  #footer .footer__copyright {
    font-size: 10px;
  }
}/*# sourceMappingURL=media.css.map */